.wrapper-vertical {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
}

.wrapper-horizontal {
    display: flex;
    align-items: center;
    gap: 8px;
}

.matches {
    color: var(--p-text-color);
    margin: 0;
    width: 100px;
    text-align: right;
}

.points {
    width: 100px;
    text-align: right;
    color: var(--p-text-color);
    opacity: 0.7;
}

.wrap {
    flex-wrap: wrap;
}

.no-gap {
    gap: 0;
}

.full-width {
    width: 100%;
}

.player-tag {
    width: 100%;
    display: flex;
    justify-content: left;

    &.first {
        background: linear-gradient(to left, transparent 10%, var(--p-green-900));
    }

    &.second {
        background: linear-gradient(to left, transparent 10%, var(--p-orange-900));
    }

    &.third {
        background: linear-gradient(to left, transparent 10%, var(--p-red-900));
    }
}
