.wrapper-vertical {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
}

.wrapper-horizontal {
    display: flex;
    align-items: center;
    gap: 8px;
}

.wrap {
    flex-wrap: wrap;
}

.no-gap {
    gap: 0;
}

.full-width {
    width: 100%;
}

.secondary-text-color {
    color: var(--p-floatlabel-color) !important;
}
