<div class="wrapper-vertical">
    <div class="wrapper-horizontal">
        {{ sessionStat.date * 1000 | date:'dd/MM/yyyy' }}
        <p-tag severity="secondary" [value]="sessionStat.matchCount.toString()"/>
    </div>
    <div class="wrapper-horizontal wrap">
        @for (playerSession of sortedRank; track playerSession; let index = $index) {
            <div class="wrapper-horizontal full-width">
                <div class="wrapper-horizontal no-gap full-width">
                    <p-tag
                        class="full-width"
                        [severity]="index === 0 ? 'success' : index === 1 ? 'warn' : 'danger'"
                        [value]="(index + 1).toString() + ' - ' + playerSession.player.firstname"
                    />
                    <div class="wrapper-horizontal no-gap full-width">
                        <p-tag
                            class="full-width"
                            severity="secondary"
                            [value]="playerSession.wins.toString() + 'w' + '/' + playerSession.losses.toString() + 'l'"
                        />
                        <p-tag
                            severity="secondary"
                            [value]="playerSession.totalPointsScored.toString() + '/' + playerSession.totalPointsReceived.toString()"
                        />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

