td {
    padding: 4px 0 !important;
    border: none !important;
}

.player-a {
    text-align: left;
    padding: 4px;
}

.player-b {
    text-align: right !important;
    padding: 4px;
}

.delete-match {
    width: fit-content;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.score {
    text-align: center;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-content: baseline;
    height: 100%;

    .p-chip {
        text-wrap: nowrap;
        padding: 4px 12px;
        border-radius: 8px;
    }
}

.date-header {
    text-align: center;
    padding: 8px;
}

.winner {
    font-weight: bold;
}
