<p-confirmDialog/>
<p-table [value]="matches" [scrollable]="true" scrollHeight="flex"
         [loading]="isMatchesLoading"
         [showLoader]="false"
>
    <ng-template pTemplate="body" let-match>
        <tr>
            <td class="delete-match"><p-button class="delete-button" icon="pi pi-trash" severity="danger" variant="text" (click)="onDeleteMatch(match.id)" (keydown.enter)="onDeleteMatch(match.id)"></p-button></td>
            <td class="player-a {{match.finalScoreA > match.finalScoreB ? 'winner' : ''}}">{{ match.playerA.firstname }}</td>
            <td class="score">
                <p-chip label="{{ match.finalScoreA }} - {{ match.finalScoreB }}"/>
            </td>
            <td class="player-b {{match.finalScoreA < match.finalScoreB ? 'winner' : ''}}">{{ match.playerB.firstname }}</td>
        </tr>
    </ng-template>

    <ng-template pTemplate="loadingbody">
        <tr *ngFor="let _ of [1,2,3]">
            <td><p-skeleton width="100%"></p-skeleton></td>
            <td><p-skeleton width="100%"></p-skeleton></td>
            <td><p-skeleton width="100%"></p-skeleton></td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="3" class="text-center">Aucun match enregistré</td>
        </tr>
    </ng-template>
</p-table>
