.match-card {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
}

.player-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 8px;
}

.player-a {
    text-align: left;
    padding: 4px;
}

.player-b {
    text-align: right;
    padding: 4px;
}

.score {
    text-align: center;
    min-width: 150px;
    padding: 4px;

    .p-chip {
        padding: 4px 12px;
        border-radius: 8px;
    }
}

.date-header {
    text-align: center;
    padding: 8px;
}

.winner {
    font-weight: bold;
}
