td {
    padding: 4px 0 !important;
    border: none !important;
}

tr {
    display: flex;
}

.player-a {
    text-align: right;
    padding: 4px;
}

.player-b {
    text-align: left !important;
    padding: 4px;
}

.actions-wrapper {
    display: flex;
    min-width: 80px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.score {
    text-align: center;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-content: baseline;
    height: 100%;

    .p-chip {
        text-wrap: nowrap;
        padding: 4px 12px;
        border-radius: 8px;
    }
}

.date-header {
    text-align: center;
    padding: 8px;
}

.winner {
    font-weight: bold;
}

.match-line-wrapper {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    &.clickable {
        cursor: pointer;

        &:hover {
            border-radius: 8px;
            background-color: #ffffff12;
        }
    }
}
