<div *ngIf="playerStats">
    <div style="display: flex; flex-direction: column">
        ici, plus tard, des stats OMG
<!--        <h3>Général</h3>-->
<!--        <span>Matchs: {{ playerStats?.totalMatches || 0 }}</span>-->
<!--        <span>Victoires: {{ playerStats?.wins || 0 }}</span>-->
<!--        <span>Défaites: {{ playerStats?.losses || 0 }}</span>-->
<!--        <span><small>Moy. points lors d'une défaite: {{ playerStats?.averageLostScore?.toFixed(2) || 0 }}</small></span>-->
<!--        <span><small>Moy. points lors d'une victoire: {{ (playerStats?.wins / playerStats?.totalMatches* 100).toFixed(2) || 0 }}</small></span>-->
<!--        <p-divider/>-->
<!--        <h3>Matchs serrés</h3>-->
<!--        <span>Victoires: {{ playerStats?.closeWonCount || 0 }}</span>-->
<!--        <span>Défaites: {{ playerStats?.closeLostCount || 0 }}</span>-->
<!--        <p-divider/>-->
<!--        <h3>Matches stomp</h3>-->
<!--        <span>Victoires: {{ playerStats?.stompWonCount || 0 }}</span>-->
<!--        <span>Défaites: {{ playerStats?.stompLostCount || 0 }}</span>-->
<!--        <p-divider/>-->

    </div>
</div>
