<div class="main-wrapper">
    @if (playerStats) {
        <h1>{{ playerStats.player.firstname }} {{ playerStats.player.lastname }}</h1>
        <p-tabs value="all" scrollable>
            <p-tablist>
                <p-tab value="all">Général</p-tab>
                @for (yearStat of playerStats.yearlyStats; track yearStat) {
                    <p-tab [value]="yearStat.year">
                        {{ yearStat.year }}
                    </p-tab>
                }
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="all">
                    <app-player-stats [stats]="playerStats"></app-player-stats>
                </p-tabpanel>
                @for (tab of playerStats.yearlyStats; track tab) {
                    <p-tabpanel [value]="tab.year">
                        <app-player-stats [stats]="tab"></app-player-stats>
                    </p-tabpanel>
                }
            </p-tabpanels>
        </p-tabs>
    } @else if (!playerStats && !isLoading) {
        <p-message severity="secondary" size="large">
            Oops, pas de statistiques pour ce joueur
        </p-message>
    }
</div>
