<p-accordion [(value)]="activeIndexes" (valueChange)="onAccordionChange($event)" [multiple]="true">
    <ng-container *ngFor="let sessionStat of sessionStats; let i = index; trackBy: trackBySession">
        <p-accordion-panel [value]="i">
            <p-accordion-header>
                <ng-template #toggleicon let-active="active"/>
                <app-accordion-header [sessionStat]="sessionStat"/>
            </p-accordion-header>
            <p-accordion-content>
                @if (loadedPanels.has(i)) {
                    <app-match-list [sessionStat]="sessionStat"/>
                }
            </p-accordion-content>
        </p-accordion-panel>
    </ng-container>
</p-accordion>

