:host ::ng-deep .p-panel-header {
    display: none;
}

:host ::ng-deep .p-panel-content {
    padding-top: 16px;
}

.global-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.content-wrapper {
    max-width: 800px;
    width: 100%;
}

.footer-wrapper {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    color: var(--p-floatlabel-color);

    .hubscore-link {
        color: var(--p-button-text-primary-color);
    }

    margin-top: 8px;
    padding: 4px 8px;
    font-size: 0.875rem;


    .social-network-wrapper {
        display: flex;
        gap: 12px;

        i {
            color: var(--p-button-text-primary-color);
        }
    }
}

.fullscreen-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);

    .spinner {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
}
