.global-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fullscreen-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);

    .spinner {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
}
