<div class="global-wrapper">
    <div class="content-wrapper">
        <app-navigation/>
        <p-panel>
            <router-outlet/>
        </p-panel>
        <p-fluid class="footer-wrapper">
            <p-fluid>
                <span>Powered by <a class="hubscore-link"href="https://github.com/LeoGouchon/hubscore" target="_blank">Hubscore</a> ©2025</span>
            </p-fluid>
            <div class="social-network-wrapper">
                <a href="https://github.com/leogouchon" target="_blank"><i class="pi pi-github"></i></a>
                <a href="https://www.linkedin.com/in/leo-gouchon/" target="_blank"><i class="pi pi-linkedin"></i></a>
                <a href="https://leogouchon.com" target="_blank"><i class="pi pi-folder-open"></i></a>
            </div>
        </p-fluid>
    </div>
    @if (isBackendLoading) {
        <div class="fullscreen-loader">
            <p-progressSpinner strokeWidth="5" styleClass="spinner"/>
            <h2>{{ currentLoadingMessage }}</h2>
        </div>
    } @else if (isBackendError) {
        <div class="fullscreen-loader">
            PÉTARD LES SERVEURS ILS FONCTIONNENT PAS. DEMANDE À LÉO SE QUI SE PASSE
        </div>
    }
</div>

