<div class="global-wrapper">
    <div>
        <app-navigation/>
        <p-panel>
            <router-outlet/>
        </p-panel>
    </div>
    @if (isBackendLoading) {
        <div class="fullscreen-loader">
            <p-progressSpinner strokeWidth="5" styleClass="spinner"/>
            <h2>{{ currentLoadingMessage }}</h2>
        </div>
    } @else if (isBackendError) {
        <div class="fullscreen-loader">
            PÉTARD LES SERVEURS ILS FONCTIONNENT PAS. DEMANDE À LÉO SE QUI SE PASSE
        </div>
    }
</div>

