<p-fluid>
    <h1>Se connecter</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="form-wrapper">
            <p>La connexion est gérée par le service d’identité.</p>
            <div class="buttons-wrapper">
                <p-fluid>
                    <p-button type="submit" label="Connexion" severity="primary" [loading]="isResponseLoading"></p-button>
                </p-fluid>
            </div>
            @if (formError) { <small>{{ formErrorText }}</small> }
        </div>
    </form>
</p-fluid>
<p-toast/>
