<p-confirmDialog/>
<p-fluid class="header-wrapper">
    <p-button label="Retour" (click)="onBack()" (keydown.enter)="onBack()" variant="text" icon="pi pi-arrow-left"/>
    <p-button label="Supprimer" class="delete-button" icon="pi pi-trash" severity="danger" variant="text"
              (click)="onDeleteMatch()" (keydown.enter)="onDeleteMatch()"/>

</p-fluid>
<div [ngSwitch]="true" class="content-wrapper">
    <div class="single-point-wrapper">
        <div class="single-point-score">
            <p-tag [value]="matchDetailed?.playerA?.firstname"
                   [severity]="matchDetailed!.finalScoreA! > matchDetailed!.finalScoreB! ? 'success' : 'danger'"/>
            <span>{{ matchDetailed?.finalScoreA }}</span>
            <span>-</span>
            <span>{{ matchDetailed?.finalScoreB }}</span>
            <p-tag [value]="matchDetailed?.playerB?.firstname"
                   [severity]="matchDetailed!.finalScoreA! > matchDetailed!.finalScoreB! ? 'danger' : 'success'"/>
        </div>
    </div>
    <div *ngSwitchCase="(pointsHistory?.length || 0) === 1">
        <span class="single-point-label">Aucun detail de point disponible pour ce match.</span>
    </div>
    <div *ngSwitchCase="(pointsHistory?.length || 0) > 1">
        <div class="timeline-wrapper">
            <p-timeline [value]="pointsHistory || []">
                <ng-template #content let-point let-index="index">
                    <div
                        [class]="'point-content-wrapper' + (point.scorer === 'A' ? ' winner' : '')"
                        ngClass="right-side"
                    >
                        <div class="service-side-wrapper">
                            <p-badge
                                [ngClass]="(point.serviceSide === 'L' ? 'left-circle' : 'right-circle') + (point.server === 'A' ? '' : ' hidden')"
                                severity="contrast"/>
                        </div>
                        <div class="player-score-wrapper">
                            <div [class]="point.scorer === 'A' ? 'win-point' : 'lose-point'">{{ point.scoreA }}</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #opposite let-point let-index="index">
                    <div
                        [class]="'point-content-wrapper' + (point.scorer === 'B' ? ' winner' : '')"
                        ngClass="left-side"
                    >
                        <div class="player-score-wrapper">
                            <div [class]="point.scorer === 'B' ? 'win-point' : 'lose-point'">{{ point.scoreB }}</div>
                        </div>
                        <div class="service-side-wrapper">
                            <p-badge
                                [ngClass]="(point.serviceSide === 'L' ? 'left-circle' : 'right-circle') + (point.server === 'B' ? '' : ' hidden')"
                                severity="contrast"/>
                        </div>
                    </div>
                </ng-template>
                <ng-template #marker let-point>
                    <div ngClass="timestamp">{{ point.time }}</div>
                </ng-template>
            </p-timeline>
        </div>
    </div>
    <div class="content-wrapper" *ngSwitchDefault>
        <span class="empty-state">Aucun historique de point disponible.</span>
    </div>
</div>
