.header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.score-field {
    display: flex;
    gap: 16px;
}

.player-name {
    margin: 8px 0 0;
}

.player-score {
    margin: 8px 0 16px 0;
}

.player-info {
    padding: 8px;
    text-align: center;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.a-background {
    background-color: color-mix(in srgb, var(--p-blue-500) 5%, transparent);
    border-radius: 8px;
}

.b-background {
    background-color: color-mix(in srgb, var(--p-orange-500) 5%, transparent);
    border-radius: 8px;
}

p-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.score-tag {
    --p-tag-primary-background: color-mix(in srgb, var(--p-blue-500) 15%, transparent);
    --p-tag-primary-color: var(--p-blue-500);
    --p-tag-secondary-background: color-mix(in srgb, var(--p-orange-500) 15%, transparent);
    --p-tag-secondary-color: var(--p-orange-500);
}

.history-tag-wrapper {
    display: flex;
    gap: 4px;
    justify-content: end;
    overflow: hidden;

    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
}
