<p-fluid>
    <form [formGroup]="formGroup" class="global-wrapper">
        <p-listbox
            [options]="players"
            formControlName="selectedPlayers"
            optionLabel="firstname"
            [multiple]="true"
            (onChange)="onPlayerSelected($event)"
        />
        <p-button
            (click)="onClick()"
            label="Démarrer l'arbitrage"
            [disabled]="isError()"
            [severity]="isError() ? 'contrast' : 'success'"
        />
    </form>
</p-fluid>
