<p-toast/>
<p-menubar [model]="items" breakpoint="50px">
    <ng-template let-item>
        @if (item.url) {
            <a [href]="item.url" class="p-menubar-item-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        } @else {
            <div class="p-menubar-item-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </div>
        }
    </ng-template>
    @if (tokenService.getAccessToken()) {
        <a (click)="navigation.navigateTo(AppRoutes.PROFILE)">
            <p-overlay-badge value="" severity="success">
                <p-avatar label="L" shape="square"/>
            </p-overlay-badge>
        </a>
    }
</p-menubar>
<p-confirmdialog/>
