<p-toast/>
<p-fluid class="menu-bar">
    <h3>SquashApp</h3>
    @if (isMobile) {
        <div class="mobile-menu-header">
            <button class="p-button p-button-text" (click)="toggleSidebar()">
                <i class="pi pi-bars"></i>
            </button>
        </div>
    }
</p-fluid>
<p-drawer class="menu-drawer" position="right" header="Menu" [(visible)]="displaySidebar" [baseZIndex]="10">
    <p-panelMenu [model]="items"/>
    @if (this.tokenService.getAccessToken()) {
        <p-divider/>
        <p-panel-menu [model]="profilItems"/>
    }
</p-drawer>
<p-confirmdialog/>
